.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn-orrange {
  background-color: #f57209 !important;
  border-color: #f57209 !important;
}

.btn-text-orrange {
  color: #f57209 !important;
  background-color: #ffff !important;
  border-color: #ffff !important;
}

.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
  display: block;
  width: 100%;
}
.navbar-white {
  background-color: #ffff;
  color: black !important;
}
.navbar-white .nav-link {
  color: black;
  /* font-family: Lato; */
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
}
.navbar-white button {
  color: black;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
}
.navbar-white button:focus {
  text-decoration: none;
}
.clickable {
  cursor: pointer;
}

.dropdown-toggle::after {
  margin-left: 1.055em !important;
}

.btn-border-orange {
  background-color: white !important;
  border: 1px solid #fa8010 !important;
  color: #fa8010 !important;
  font-size: 16px !important;
  padding-top: 5px;
  padding-bottom: 5px;
}

.btn-border-gray {
  background-color: white !important;
  border: 1px solid rgba(0, 0, 0, 0.12) !important;
  color: #585858 !important;
  font-size: 16px !important;
  padding-top: 5px;
  padding-bottom: 5px;
}
