.navbar-orange {
    background-color: #f57209;
}
.brand-title {
    vertical-align: bottom;
    font-size: 14px;
}
.navbar-orange .nav-link {
    color: white;
}
.navbar-user {
    font-size: 16px;
}

.nav-links {
    margin-left: 90px;
}

.active {
    color: #ffe5a2 !important;
    border-bottom: 3px solid white;
}
.navbar {
    padding-bottom: 0 !important;
}
.navbar-toggler-icon {
    color: white !important;
}
